{% extends 'base.html.twig' %}

{% block title %}Locations
{% endblock %}

{% block main %}
	<h1>List of Locations</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for local in locals %}
				<tr>
					<td>{{ local.id }}</td>
					<td>{{ local.name }}</td>
					<td>
						<a href="{{ path('app_local_instrument_show', {'id': local.getId}) }}">show Instruments</a>
						<a href="{{ path('app_local_show', {'id': local.id}) }}">show</a>
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('app_local_edit', {'id': local.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('app_local_new') }}">Create new</a>
	{% endif %}
{% endblock %}
