{% extends 'base.html.twig' %}

{% block title %}Welcome!
{% endblock %}

{% block main %}
	<h1 class="text-center" style="margin-top:40px">
		Welcome to the Club Zik Inventory
	</h1>
	{% if is_granted('ROLE_USER') %}
		<h3 class="text-center" style="margin-top:70px">
			You are logged in as
			{{ app.user.username }}!
		</h3>
		<h4 class="text-center">
			{% if is_granted('ROLE_ADMIN') %}
				You are an administrator.
			{% else %}
				You are a simple user.
			{% endif %}
		</h4>
	{% endif %}
	{% if is_granted('ROLE_USER') %}
		<h4 class="">Your current reservations:</h4>
		{% if reservations is not empty %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Location</th>
						<th scope="col">User</th>
					</tr>
				</thead>
				<tbody>
					{% for reservation in reservations %}
						<tr>
							<th scope="row">{{ reservation.id }}</th>
							<td>{{ reservation.name }}</td>
							<td>{{ reservation.description }}</td>
							<td>{{ reservation.location }}</td>
							<td>{{ reservation.user }}</td>
							<td>
								{{ include('reservation/_delete_form.html.twig') }}
							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>
		{% else %}
			<p>You have no reservations.</p>
		{% endif %}
		<a href="{{ path('app_reservation_new') }}" class="btn btn-primary">Make a new reservation</a>
		<a href="{{ path('app_reservation_list') }}" class="btn btn-secondary">Show all current reservations</a>
	{% endif %}
{% endblock %}
