{% extends 'base.html.twig' %}

{% block title %}Welcome!
{% endblock %}

{% block main %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Location</th>
				<th>Owner</th>
				<th>
					&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for instrument in instruments %}
				<tr>
					<td>
						{{ instrument.getId }}
					</td>
					<td>
						{{ instrument.getName }}
					</td>
					<td>
						{{ instrument.getLieu }}
					</td>
					<td>
						{{ instrument.getOwner }}
					</td>
					<td>
						<a href="{{ path('instrument_show', {'id': instrument.id}) }}">show</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
{# main  #}
