{% extends 'base.html.twig' %}

{% block title %}Welcome!
{% endblock %}

{% block main %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Location</th>
				<th>Owner</th>
				<th>Reserved</th>
				<th>
					&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for instrument in instruments %}
				<tr>
					<td>
						{{ instrument.getId }}
					</td>
					<td>
						{{ instrument.getName }}
					</td>
					<td>
						{{ instrument.getLieu }}
					</td>
					<td>
						{{ instrument.getOwner }}
					</td>
					<td>
						{{ instrument.getReservation is empty ? 'No' : 'Yes' }}
					</td>
					<td>
						<a href="{{ path('instrument_show', {'id': instrument.id}) }}">show</a>
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('instrument_edit', {'id': instrument.id}) }}">edit</a>
							{% set reserved = app.session.get('reserved') %}
							{% if instrument.getReservation == "" %}
								{% if instrument.id not in reserved %}
									<a href="{{ path('instrument_mark', {'id': instrument.id}) }}" class="btn btn-light">Add to Your Reservation</a>
								{% else %}
									<a href="{{ path('instrument_mark', {'id': instrument.id}) }}" class="btn btn-dark">Remove from Your Reservation</a>
								{% endif %}
							{% else %}
								<a href="{{ path('instrument_mark', {'id': instrument.id}) }}" class="btn btn-light disabled">Already in a reservation</a>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('instrument_new') }}">Create new</a>
	{% endif %}

{% endblock %}
{# main  #}
