{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block main %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<!-- Pills content -->
	<form
		action="{{ path('app_login') }}" method="post" style="margin-top:20px">
		<!-- Email input -->
		<div class="form-outline mb-4">
			<label class="form-label" for="username">Username</label>
			{% if last_username == "" %}
				<script>
					const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const username = urlParams.get('last_username')
if (username) {
document.write('<input type="text" id="username" name="_username" class="form-control" placeholder="Enter Username" value="' + username + '" required>');
} else {
document.write('<input type="text" id="username" name="_username" class="form-control" placeholder="Enter Username" required>');
}
				</script>
			{% else %}
				<input type="text" id="username" name="_username" class="form-control" placeholder="Enter Username" value="{{ last_username }}" required>
			{% endif %}
		</div>

		<!-- Password input -->
		<div class="form-outline mb-4">
			<label class="form-label" for="password">Password</label>
			<input type="password" id="password" class="form-control" name="_password" placeholder="Password" required>
		</div>

		<!-- Submit button -->
		<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
		<input type="hidden" name="_target_path" value="{{ path('home') }}"/>
		<input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}"/>
	</form>
	<div class="text-center">
		<p>Not a member?
			<a href="{{ path('app_register') }}">Register</a>
		</p>
	</div>
	<!-- Pills content -->
{% endblock %}
