{% extends 'base.html.twig' %}

{% block title %}
	{{ owner.name }}
{% endblock %}

{% block main %}
	<h1>{{ owner.name }}'s Instruments</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			{% for instrument in instruments %}
				<tr>
					<td>{{ instrument.getId }}</td>
					<td>{{ instrument.getName }}</td>
					<td>{{ instrument.getLieu }}</td>
					<td>
						<a href="{{ path('instrument_show', {'id': instrument.getId}) }}">show</a>
						<a href="{{ path('instrument_edit', {'id': instrument.getId}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_owner_index') }}">Go Back</a>
{% endblock %}
